doctype html
html(lang='en')
  body  
   table(style='width:100%' border='1')     
      tr
        th NAME
        th AGE
        th CITY
        th STATE
        th EMAIL

      each a in data
        tr
          td= a.name  
          td= a.age
          td= a.city
          td= a.state
          td= a.email      

    
      


  
